.dfm-filefield-link {
  display: inline-block;
}
.dfm-filefield-link:before {
  content: '';
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background: url(images/browse.png) no-repeat 50% 50%;
}